[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
slippers = "*"
django-livereload-server = "*"
django-ninja = "*"
django-render-block = "*"
django-htmx = "*"
django-extensions = "*"
django-widget-tweaks = "*"

[dev-packages]

[requires]
python_version = "3.10"
