[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = {extras = [ "async",], version = "*"}
pywebview = {extras = [ "qt",], version = "*"}
pygobject = "*"

[dev-packages]
pytest = "*"
pyinstaller = "*"

[requires]
python_version = "3.10"
