{% load static %}

<div
    x-data="{
        showProfileCard: false,
        showSidebar: false,
    }"
>
    <div class="fixed top-0 left-0 right-0 z-20 flex items-center justify-between px-2 bg-primary">

        <!-- Expand Menu Section -->
        <div
            @click="showSidebar = true"
            class="cursor-pointer hover:bg-primary-h px-5 py-3 rounded-lg"
        >
            <img class="w-6" src="{% static 'img/menu-light.svg' %}" alt="">
        </div>

        <!-- Profile Section -->
        <div
            @click="showProfileCard = true"
            class="flex items-center space-x-2 cursor-pointer p-5"
        >
            <img class="w-6" src="{% static 'img/user-light.svg' %}" alt="">
        </div>

    </div>

    <!-- Profile Card Section -->
    <div  class="fixed top-0 right-0 flex justify-end z-20">
        {% include "partials/profile-card.html" %}
    </div>

    <!-- Sidebar Section -->
    <div  class="fixed top-0 left-0 flex justify-end z-20">
        {% include "partials/sidebar.html" %}
    </div>

    <!-- Spacer -->
    <div class="mb-[70px]"></div>
</div>