{% load static %}

<div>
    {% #Popover %}
        {% #PopoverTrigger %}
            <div class="flex items-center cursor-pointer p-5">
                <img class="w-6" src="{% static 'img/user-light.svg' %}" alt="">
            </div>
        {% /PopoverTrigger%}

        {% #PopoverContent %}
            <div class="flex flex-col gap-5 w-[250px] p-3">
                <div class="flex flex-col items-center">
                    <h2 class="text-xl font-bold">{{user.name}}</h2>
                    <p>@{{user.username}}</p>
                </div>

                <a href="{% url 'logout' %}" class="button button-primary">Sign Out</a>

            </div>
        {% /PopoverContent%}
    {% /Popover%}
</div>