{% extends "layouts/super-admin.html" %}

{% block content %}
    <div class="flex flex-wrap w-full">

        <!-- Existing Businesses -->
        {% for business in businesses %}
            <a href="{% url 'sa-business-edit' business.id %}" class="flex flex-col items-center justify-center w-11/12 max-w-[300px] h-[150px] bg-light m-5 rounded-xl border-2 border-dashed">
                <h2 class="text-xl font-bold uppercase">{{business.title}}</h2>
                <p class="uppercase text-sm">{{business.city}}</p>
            </a>
        {% endfor %}

        <!-- Add Business -->
        <a href="{% url 'sa-business-create' %}" class="flex flex-col items-center justify-center w-11/12 max-w-[300px] h-[150px] bg-light m-5 rounded-xl border-2 border-dashed">
            <img class="w-12 m-3" src="/static/img/plus.svg" alt="">
            <h2 class="text-xl font-bold uppercase">Add Business</h2>
        </a>
    </div>
{% endblock %}