{% extends "layouts/super-admin.html" %}

{% block content %}
    <div class="flex flex-wrap w-full">

        <!-- Existing Users -->
        {% for user in users %}
            <a href="{% url 'sa-user-edit' business.id user.id %}" class="flex flex-col items-center justify-center w-11/12 max-w-[300px] h-[150px] bg-light m-5 rounded-xl border-2 border-dashed">
                <h2 class="text-xl font-bold uppercase">{{user.name}}</h2>
                <p class="uppercase text-sm">{{user.role}} | {{user.username}}</p>
            </a>
        {% endfor %}

        <!-- Add Users -->
        {% if business.available_license_count %}
            <a href="{% url 'sa-user-create' business.id %}" class="flex flex-col items-center justify-center w-11/12 max-w-[300px] h-[150px] bg-light m-5 rounded-xl border-2 border-dashed">
                <img class="w-12 m-3" src="/static/img/plus.svg" alt="">
                <h2 class="text-xl font-bold uppercase">Add user</h2>
            </a>
        {% endif %}
    </div>
{% endblock %}