{% extends "layouts/app-layout.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

    <div class="flex flex-col items-center w-full">

        <div onclick="history.back()" class="hidden fixed left-0 md:flex items-center p-3 cursor-pointer">
            <img class="w-4 h-4 mx-2" src="{% static 'img/back.svg' %}" alt="">
            Back
        </div>

        <div class="flex justify-center w-11/12 bg-white my-3 rounded-lg max-w-[700px]">
            <div class="flex flex-col gap-3 items-center justify-center w-full p-3">
                <form
                    method="post"
                    class="flex flex-col gap-3 items-center justify-center h-full w-full pb-5"
                >
                    {% csrf_token %}

                    <h2 class="text-center text-xl uppercase font-bold p-5">SR Creation</h2>
                    {% FormInputGroup field=form.title %}
                    {% FormInputGroup field=form.special_note %}

                    <div class="flex flex-col px-3 py-1 w-full">
                        <label class="mb-2 text-primary">
                            Quantity ({{ item.quantity }} in stock)
                        </label>
                        <input
                            type="number"
                            name="quantity"
                            step="any"
                            min="0.001"
                            max="{{ item.quantity }}"
                            value="{{ item.quantity }}"
                            class="w-full border-2 rounded-lg p-2 focus:outline-none bg-light border-error"
                            placeholder="Quantity"
                            required
                            id="id_quantity"
                        >
                    </div>

                    <div class="flex flex-col px-3 py-1 w-full">
                        <label class="mb-2 text-primary">
                            Item price (LKR {{ item.actual_cost }} was cost)
                        </label>
                        <input
                            type="number"
                            name="item_cost"
                            step="any"
                            min="0"
                            value="{{ item.actual_cost }}"
                            class="w-full border-2 rounded-lg p-2 focus:outline-none bg-light border-error"
                            placeholder="Item cost"
                            required
                            id="id_item_cost"
                        >
                    </div>

                    <div
                        x-data="{
                            showCreateSRModel: false
                        }"
                        class="flex flex-col px-3 py-1 w-full">
                        <div
                            @click="showCreateSRModel = true"
                            class="px-3 py-2 rounded-lg text-center text-white bg-primary w-full cursor-pointer">
                            Create SR
                        </div>

                        <div
                            x-show="showCreateSRModel"
                            class="modal fixed inset-0 z-50 flex items-center justify-center overflow-auto bg-black bg-opacity-50"
                        >
                            <div
                                x-show="showCreateSRModel"
                                @click.outside="showCreateSRModel = false"
                                x-transition.duration.300ms
                                class="flex flex-col justify-center w-11/12 bg-white my-3 rounded-lg max-w-[500px]"\
                            >
                                <div class="flex flex-col gap-3 items-center justify-center w-full p-3">
                                    <div>
                                        <h2 class="text-xl font-bold text-center">Confirmation Required</h2>

                                        <p class="pt-5 pb-2">Are you sure you want to return this item? Supplier return will be permanent and cannot be undone.</p>
                                    </div>
                                    <button
                                        class="px-3 py-2 rounded-lg text-center text-white bg-primary w-full"
                                    >
                                        Create SR
                                    </button>
                                    <div @click="showCreateSRModel = false" class="text-error font-bold cursor-pointer">No, I Don't!</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

{% endblock %}