{% extends "layouts/app-layout.html" %}
{% load static %}

{% block content %}

    <div onclick="history.back()" class="hidden fixed left-0 md:flex items-center p-3 cursor-pointer">
        <img class="w-4 h-4 mx-2" src="{% static 'img/back.svg' %}" alt="">
        Back
    </div>

    <div
        id="grns-container"
        hx-swap-oob="true"
    >

        <div class="flex justify-center w-full p-3">
            <div class="flex items-center bg-light rounded-lg w-11/12 max-w-[300px]">
                <input
                    name="query"
                    hx-trigger="input changed delay:300ms, query"
                    hx-post="{% url 'sr-search' supplier.id %}"
                    class="p-3 focus:outline-none focus:border-none w-full"
                    type="text" placeholder="Search..."
                >
                <img class="w-6 m-3" src="/static/img/search.svg" alt="">
            </div>
        </div>

        {% block sr-list-container %}
            <div
                id="grn-list-container"
                hx-swap-oob="true"
                class="flex flex-col items-center w-full"
            >

                <!-- Existing SRs -->
                {% for sr in srs %}
                    <a href="{% url 'sr-action' sr.id %}" class="flex flex-col items-start justify-center w-11/12 max-w-[700px] h-[75px] bg-light my-2 p-3 rounded-xl border">
                        <h2 class="text-xl font-bold uppercase">{{sr.title}}</h2>
                        <div class="flex items-center uppercase text-sm">
                            <p class="pe-2">{{sr.date_added | date}}</p>
                            {% if sr.is_finalized %}
                                <img
                                    class="w-4 h-4"
                                    src="{% static 'img/checked.svg' %}" alt=""
                                >
                            {% endif %}
                        </div>
                    </a>
                {% endfor %}

                <!-- Add SR -->
                <a
                    href="{% url 'sr-create' supplier.id %}"
                    class="flex items-center justify-start w-11/12 max-w-[700px] h-[75px] bg-light my-2 rounded-xl border cursor-pointer"
                >
                    <img class="w-6 h-6 m-3" src="/static/img/plus.svg" alt="">
                    <h2 class="text-xl font-bold uppercase">Add SR Record</h2>
                </a>
            </div>
        {% endblock %}
    </div>
{% endblock %}