{% extends "layouts/app-layout.html" %}
{% load static %}

{% block content %}

    <div onclick="history.back()" class="hidden fixed left-0 md:flex items-center p-3 cursor-pointer">
        <img class="w-4 h-4 mx-2" src="{% static 'img/back.svg' %}" alt="">
        Back
    </div>

    <div class="flex justify-center w-full p-3">
        <div class="flex items-center bg-light rounded-lg w-11/12 max-w-[300px]">
            <input
                name="query"
                hx-trigger="input changed delay:300ms, query"
                hx-post="{% url 'grn-search' supplier.id %}"
                class="p-3 focus:outline-none focus:border-none w-full"
                type="text" placeholder="Search..."
            >
            <img class="w-6 m-3" src="/static/img/search.svg" alt="">
        </div>
    </div>

    {% block grn-list-container %}
        <div
            id="grn-list-container"
            hx-swap-oob="true"
            class="flex flex-col items-center w-full"
        >

            <!-- Existing GRNs -->
            {% for grn in grns %}
                <a href="{% url 'grn-action' grn.id %}" class="flex flex-col items-start justify-center w-11/12 max-w-[700px] h-[75px] bg-light my-2 p-3 rounded-xl border-2 border-dashed">
                    <h2 class="text-xl font-bold uppercase">{{grn.title}}</h2>
                    <p class="uppercase text-sm">{{grn.date_added | date}}</p>
                </a>
            {% endfor %}

            <!-- Add GRN -->
            <a href="{% url 'grn-create' supplier.id %}" class="flex items-center justify-start w-11/12 max-w-[700px] h-[75px] bg-light my-2 rounded-xl border-2 border-dashed">
                <img class="w-6 h-6 m-3" src="/static/img/plus.svg" alt="">
                <h2 class="text-xl font-bold uppercase">Add GRN Record</h2>
            </a>
        </div>
    {% endblock %}
{% endblock %}